@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
:root{

--Cyan: hsl(179, 62%, 43%);
--Bright-Yellow: hsl(71, 73%, 54%);



--Light-Gray: hsl(204, 43%, 93%);
--Grayish-Blue: hsl(218, 22%, 67%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

.container{
    margin: 0 auto;
    padding:2em 1.5rem 2rem 1.5rem;
    background-color: var(--Light-Gray);
    width: 375px;

    
}
.container-box{
    grid-template-rows: auto auto auto;
    height: 100%;


}

.post{
    padding:1.5rem 1.5rem 2rem 1.5rem;
    background-color: white;
}
.top{
    
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.top h1{
    font-size: 1.4rem;
    color: var(--Cyan);
    padding-bottom: 1.8rem;
}
.top h3{
    color:var(--Bright-Yellow);
    font-size: 16px;
    padding-bottom: 1.2rem;
}
.top p{
    font-size: 14px;
    line-height: 1.8rem;
    color:var(--Grayish-Blue)
}


.middle-left{
    background-color:var(--Cyan);
}

.middle-left h1{
    font-size: 1.25rem;
    color: white;
    padding-bottom: 1.4rem;
}
.middle-left h2{
    color: white;
    display: flex;
    align-items: center;
    padding-bottom: .6rem;

    
}
.middle-left h2 span{
    font-size: 15px;
    margin-left: 10px;
    color:var(--Light-Gray);
    font-weight: 400;
}

.middle-left p{
color:white;
padding-bottom:2.2rem;
}
.middle-left button{
    padding: 1rem;
    width: 100%;
    border:none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    background-color:var(--Bright-Yellow);
    box-shadow: 1px 10px 10px 1px rgb(52, 138, 126);
}
.down-right{
    background-color: rgb(65, 196, 196);
}

.down-right h1{
    font-size: 1.3rem;
    color: white;
    padding-bottom: 1.2rem;
}
.down-right p{
    font-size: 14px;
    line-height: 1.5rem;
    width: 75%;
    color: var(--Light-Gray);
    font-weight: 600;
}

@media (min-width:1100px){
.container{
    width: 100vw;
    height: 100vh;

}
.container-box{
    width:60%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 350px 350px;
    grid-template-areas: 
    "top top"
    "mid down";
    ;
}
.top{
grid-area: top;
padding:4rem 2rem 0rem 4rem;

  }
.top h1{
    font-size: 2rem;
    padding-bottom: 2rem;
}
.top h3{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.top p{
    font-size: 1.2rem;
    width: 90%;
    line-height: 2rem;
}


.mid{
grid-area: mid;
padding: 4rem;

  
}
.mid h1{
    font-size: 1.5rem
}
.mid h2{
    font-size: 1.7rem;
}
.mid h2 span{
    font-size: 1.1rem;
}
.mid p{
    font-size: 1.2rem;
    font-weight: 200;
}

.down{
  grid-area: down;
 
  padding: 4rem;

}
.down h1{
    font-size: 1.5rem
}
.down p{
    font-size: .9rem;
}
}
